/* "root" serve para declarar uma variável no CSS, neste código a dica de utilizar a 
variável é que já sabemos as cores do site definitivamente, então vamos declarar
para que seja mais fácil a alteração da folha de estilo*/

:root {
    --vermelho : #e50914;
    --preto : #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos base*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50) 100%), url('/img/hoje-eu-nao-quero-voltar-sozinho.png');

    height: 400px;
    background-size: cover;
}

body{
   background: var(--preto);
   font-family: 'Times New Roman', Times, serif;
   color: #fff;

}

/*Utilização do Flexbox para alinhamento dos elementos em tela*/
header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho); /*É assim que utiliza-se a variável no CSS*/
    font-family: 'Arial Black',  Times ;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

/*"HOVER" serve para dar a característica de mudança de cor do elemento
quando passar o mouse em cima do mesmo*/
header nav a:hover{
    color: #fff;
}